/* CONFIG GLOBAL >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

html, body{
    height: 100%;
    font-family: 'Mulish', sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    color: #626366;
}


h4 {
    font-family: 'Mulish', sans-serif;
    font-size: 15px bold;
}

.card {
    border-color: #e2e2e2;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>BARRA DE NEVEGAÇÃO*/

nav.navbar-ajustes{
    font-size: 14px;
    padding: 15px 3em 0 4em;
    margin-top: 10px;
    margin-bottom: -3px;
    font-family: 'Mulish', sans-serif;

}

nav img{
    width: 129px;
    height: 40px;
}

nav a i{
    font-size: 22px;
    color: #626366;
}

.navbar-expand-md .navbar-nav .nav-link {
    color: #626366;

}

.navbar-expand-md .navbar-nav .nav-link:hover {
    color: #1e73be;


}

.navbar-toggler {
    color: #1e73be;
    border-color: #626366;
    opacity: 0.5;
}

.divisor {
    width: 1px;
    background: #626366;
    margin: 10px 5px;

}

/* FIM DA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>BARRA DE NEVEGAÇÃO*/
#capa {
    height: 600px;
    margin-left: -15px;
    margin-right: -15px;
}

#capa img {
    margin-top: 100px;
    width:100%;
    margin-bottom: 5%;
}
/* FIM DA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>CAPA*/

/* INICIO >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> SERVIÇOS*/
#card-section {
    margin-top: auto;
}

.card {
    height: 160px;
    padding-top: 30px;
}

#card-section i{
    color: #1e73be;
    font-size: 30px;
    padding-top: 10px;
}
#dropdownMenuLink {
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    color: #626366;
}

#cards-linha2 {
    margin-top: 25px;
    padding-bottom: 25px;
}
/* FIM >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> SERVIÇOS*/

/* INICIO >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> CAROUSEL*/
#carousel-section{
    margin-top: 50px;
    height: 450px;
    margin-bottom: -150px;
    width: 90%;
    text-align: center;
    margin-left: 5%;
}
h2#carousel-section {
    font-size: 30px;
}

#carousel-section i{
    font-size: 60px;
    color: red;
}

#links-de-controles{
    width: 20px;
    height: 20px;
    margin-top: 120px;
}

#icone-de-controle i {
    color: #626366;
}

.meu-card {
    border: 1px solid #e2e2e2;
    height: 180px;
    width: 80%;
    margin-left: 10%;
}

#carousel-controles{
    height: 230px;
    margin-left: 15px;
    
    
}
/* FIM >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> CAROUSEL*/


#form-section{
    height: 500px;
    margin-bottom: 200px;
}

.btn-outline-info{
    color: #00aae2;
    border-color: #00aae2;
    font-size: 13px bold;
    border-radius: 0%;
}

.btn-outline-info:hover{
    color: #fff;
    border-color: #00aae2;
    background-color: #00aae2;
}
/*Footer >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
footer{
    
    color: #fff;
    height: 245px;
    background-image: linear-gradient(to right, #222,#222,#222,#686868, #686868) ;
}

footer ul{
    align-items: flex-start;
}

footer li{
    list-style: none;
    padding-top: 12px;
    padding-right: 5px;
    font-size: 12px;
    text-align: left;
}


footer a{
text-decoration: none;
color: #fff;
}
footer a:hover{
    color: #626366;
    text-decoration: none;
}

#listhead{
    font-size: 14px;
    padding-top: 20px;
}


#footer-coluna1{
    color: #fff;
    background-color: #222;
    height: 240px;
    font: 12px ;
    
}

#footer-coluna2{
    background-color: #222;
    color: #fff;
    font: 12px ;
    
}
#footer-coluna3{
    background-color: #383838;
    font: 12px ;
    color: #fff;
    
}
#footer-coluna4{ 
    background-color: #565656;
    color: #fff;
    font: 12px ;  
}
#footer-coluna5{
    background-color: #686868;
    margin-right: -60px;
    color: #fff;
    font: 12px ;
    
}
/*FIM >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Footer */

